# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/2.14.1/
.idea/workspace.xml
app/build
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/accessibilityservice/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/content/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/database/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/graphics/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/hardware/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/internal/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/media/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/net/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/os/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/print/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/text/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/util/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/view/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/aidl/android/support/v4/widget/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/20.0.0/res/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/rs/
app/build/intermediates/symbols/androidTest/
build/
